header {
  font-family: Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  &.background {
    background-color: $white;
  }

  a {
    color: $title;
    text-decoration: none;
  }

  h1 {
    display: inline-block;
    text-transform: lowercase;
    font-size: 16px;
    padding: 20px;
  }
}
